body{
    margin: 0%;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}
.title{
    color:blueviolet; 
    text-align: center;
     font-size: 100px;}
.header{
    
    width:100%;
     height: 60px;
    background-color: #000000;
    overflow: hidden;           /* hetha yne7li zeyed ken fet header*/
    display: flex;
    align-items: center;
    justify-content: right;
    position: sticky;
    top:0;
    right:0;
    text-align: right;
}
.content{
    width:100%;
     min-height: 585px;
    background-color: #000000;}  
.footer{width:100%;
height: 60px;
background-color:#000000;
display:flex;
align-items: center;
   justify-content: center;}
.header img{ width:70px;}
.image{ 
    height: 350px;
    width: 31%;
    margin: 5px;
}
.content img{ display : block;
    margin-left: auto;
    margin-right: auto;}
.header img{ width:70px;}
.header a{ color:white;
            padding-left: 5px;
            padding-right: 5px;
            text-decoration: none;
            height: 60px; 
            padding-top: 2.5%;
            padding-right:20px ;
            padding-left:20px ;
            text-align: center;
            margin-right: 25px;
            transition-duration: 0.4s;}


thead td{
    transition-duration: 0.4s;
    margin-left: 200px;
    border-radius: 50px;

}
thead td:hover{
    background-color: orange; 
    color: rgb(0, 0, 0);
}
.content h1{ color:white;
    margin-left: 70px;
    margin-bottom: 0;
    margin-top: 0;   
    padding-top: 10px;
}
.content h4{ color:white;
    margin-left: 70px;
    margin-bottom: 0;
    margin-top: 0;   
    padding-top: 10px;}

h2{ color:orange;            
            margin-left: 70px;
            margin-bottom: 0;
            margin-top: 0;   
            padding-top: 10px;
            margin-left: 100px;
            }
hr{width: 850px;
        float: none;
        border-color: orange;
}
p{
    color: white;
    margin-left: 70px;
    margin-bottom: 0;
    margin-top: 0;   
    padding-top: 10px;
    margin-left: 100px
}
span{
    color: white;
    text-align: center;
}
k{
    color: orange;
    font-weight: bold;
    
}
b{
    color: orange;
    font-weight: bold;
    
}
.button {
    transition-duration: 0.4s;
    border-radius: 60px;
    margin-left: 150px
  }
  
  .button:hover {
    background-color: orange; 
    color: rgb(0, 0, 0);
    
  }
.btn {
    transition-duration: 0.4s;
    border-radius: 60px;
    margin-left: 200px;
  }
  
.btn:hover {
    background-color: orange; 
    color: rgb(0, 0, 0);
  }
.btp {
    transition-duration: 0.4s;
    border-radius: 25px;
    margin-left: 0px;
  }
  
.btp:hover {
    background-color: orange; 
    color: rgb(0, 0, 0);
  }
.btnk{
    transition-duration: 0.4s;
    border-radius: 60px;
    margin-left: 0px
}
.btnk:hover {
    background-color: orange; 
    color: rgb(0, 0, 0);
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 450px; }

.col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%; }
.col-md-6{  position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px; }
.resume-wrap {
        width: 100%;
        margin-bottom: 30px;
        background: rgba(255, 255, 255, 0.1);
        padding: 30px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px; }
        .resume-wrap .date {
            font-weight: 900;
            font-size: 26px;
            color: #ffbd39; }
          .resume-wrap h2 {
            font-size: 26px; }
          .resume-wrap .position {
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 3px;
            text-transform: uppercase; }
            .split {
                height: 100%;
                width: 50%;
                position: fixed;
                z-index: 1;
                top: 0;
                overflow-x: hidden;
                padding-top: 20px;
              }
              .left {
                left: 0;
                background-color: #111;
              }
              .right {
                right: 0;
                background-color: red;
              }
.tab{
    width: 90%;
    margin-left: 100px;
}
.about{
    color: gray;
}
.tt{
    text-align: left;
}
progress {
    vertical-align: baseline; }
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto; }
  
  [type="search"] {
    outline-offset: -2px;
    -webkit-appearance: none; }
  
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
  
  ::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button; }
    .progress {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 1rem;
        overflow: hidden;
        font-size: 0.75rem;
        background-color: #ffffff;
        border-radius: 0.25rem; }

        .progress-bar {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            background-color: orange;
            -webkit-transition: width 0.6s ease;
            -o-transition: width 0.6s ease;
            transition: width 0.6s ease; }
            @media (prefers-reduced-motion: reduce) {
              .progress-bar {
                -webkit-transition: none;
                -o-transition: none;
                transition: none; } }
          
          .progress-bar-striped {
            background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
            background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
            background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
            background-size: 1rem 1rem; }
          
          .progress-bar-animated {
            -webkit-animation: progress-bar-stripes 1s linear infinite;
            animation: progress-bar-stripes 1s linear infinite; }
            @media (prefers-reduced-motion: reduce) {
              .progress-bar-animated {
                -webkit-animation: none;
                animation: none; } }
form{ margin-left: 70px;}
input{width: 60%;
    height: 40px;
  margin-bottom: 20px;
  border-radius: 10px;}
  input[type="submit"]{width: 150px;
                      height: 40px;
                      }
  input[type="reset"]{width: 150px;
                          height: 40px;
                            }
  .alignbutton{ margin-left: auto;
              margin-right: auto;
              width: 50%;}